<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Pedro Pessoa. It uses Mapbox and Darksky API, both for geocode and weather.</p>
    <img src="/img/robot.png" class="portrait">
  </div>

  {{>footer}}
</body>

</html>